@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

.mat-drawer-container {
  height: 100vh;
  width: 100%;
}

.menu {
  cursor: pointer;
  margin-right: 16px;
}

.sidenav {
  width: 300px !important;
}

.logo-container {
  min-height: 56px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.25);
  padding: 0px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-toolbar,
mat-toolbar-row {
  height: 56px !important;
  min-height: 56px !important;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  > li {
    height: 48px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0px 16px;
    &:hover {
      background-color: rgb(0, 0, 0, 0.08);
      cursor: pointer;
    }
  }
}
