@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

.mr-16 {
  margin-right: 16px;
}

.full-width {
  width: 100%;
}
